#sidebar-container {
	width: 20%;	
	float:left;
	margin: 1px;
	padding: 1px;
}
#content-container {
	width: 79%;	
	float:right;
	margin: 1px;
	padding: 1px;
}
.widget-dashboard .widget-content {
  padding: 20px 15px 0px 15px;
  margin-bottom: 0;
}

.scrollable-main-content {
	overflow:scroll; 
	height:480px; 
}

.scrollable-sidebar-content {
	overflow:scroll; 
	height:240px;
}
.fieldblock {
	margin-top: 5px;
}
.field_required {
	border-color: rgb(149, 59, 57);
}
.hideextra { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }

.mail_compose input {
	width: 96%;
	display: block;
}
.mail_compose textarea {
	width: 96%;
	display: block;
}
.mail_compose select {
	width: 96%;
	display: block;
}
.editable {
    margin-top: 2px;
	display: block;
	border: solid #DCDCDC 1px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.editable div {
    height: 100%;
    padding: 2px;
	display: inline;
	text-decoration: underline;
}
.modal {
   width:960px;
   margin-left:-480px;
}

#customerModalBtnDiv {
	padding: 1px;
	margin: 1px;
}

#customerModalBtnDiv a {
	width: 85%;
}
#search-form-div {
	padding-left: 20px;
	padding-right: 20px;
}
#search-result-template-div {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#list-table-container {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow:scroll; 
}
tab-container{
	padding: 0;
    margin: 5px;
}
tab-container{
	padding: 0;
    margin: 5px;
}
#tabs {
    margin: 0;
    overflow: hidden;
    padding: 0;
    zoom: 1;
    position:relative;
    top:2px;
    z-index: 1;
}
 
#tabs li {
    display: block;
    list-style: none;
    margin: 0;
    margin-right: 1px;
    padding: 0;
    float: left;
}
 
#tabs li a {
    display: block;
    padding: 2px 10px;
    border: 1px solid #D5D5D5;
    border-bottom: 0 none;
    text-align: center;
    text-decoration: none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 
.tab-section {
    padding: 10px 2px 10px 2px;
    border: 1px solid #D5D5D5;
}
 
#tabs li a.current {
    background: #F90;
    color: #000;
    border-bottom: 2px solid #d4efff;
}



.search_options{
	width:40px;
}
/*body { background: #222 }*/

.loading {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-transform:uppercase;
  
  width:150px;
  text-align:center;
  line-height:50px;
  
  position:absolute;
  left:0;right:0;top:50%;
  margin:auto;
  transform:translateY(-50%);
}

.loading span {
  position:relative;
  z-index:999;
  color:#fff;
}
.loading:before {
  content:'';
  background:#61bdb6;
  width:128px;
  height:36px;
  display:block;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  
  animation:2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0%   {transform:translateX(-14px);}
  50%  {transform:translateX(14px);}
  100% {transform:translateX(-14px);}
}


.loading:after {
  content:'';
  background:#ff3600;
  width:14px;
  height:60px;
  display:block;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  opacity:.5;
  
  animation:2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0%   {transform:translateX(-50px);}
  50%  {transform:translateX(50px);}
  100% {transform:translateX(-50px);}
}