
<div data-role="header" data-theme="b">
	<h1>LogixERP</h1>
	<a href="grid-listview.html" data-shadow="false"
		data-iconshadow="false" data-icon="arrow-l" data-iconpos="notext"
		data-rel="back" data-ajax="false">Back</a>
</div>
<div data-role="content">
	<div class="ui-grid-c" style="text-align: center;">
		<!-- First Row -->
		<div class="ui-block-a">
			<a href="#"> <img src="resources/css/images/notes-icon-big.png">
				<span class="icon-label">Parties</span>
			</a>
		</div>
		<div class="ui-block-b">
			<a href="#"> <img src="resources/css/images/user-icon-big.png">
				<span class="icon-label">Products</span>
			</a>
		</div>
		<div class="ui-block-c">
			<a href="#"> <img src="resources/css/images/save-icon-big.png">
				<span class="icon-label">Products</span>
			</a>
		</div>
		<div class="ui-block-d">
			<a href="#"> <img src="resources/css/images/attach-icon-big.png">
				<span class="icon-label">Products</span>
			</a>
		</div>
		
		<!-- Second Row -->
		<div class="ui-block-a">
			<a href="#"> <img src="resources/css/images/notes-icon-big.png">
				<span class="icon-label">Parties</span>
			</a>
		</div>
		<div class="ui-block-b">
			<a href="#"> <img src="resources/css/images/user-icon-big.png">
				<span class="icon-label">Products</span>
			</a>
		</div>
		<div class="ui-block-c">
			<a href="#"> <img src="resources/css/images/save-icon-big.png">
				<span class="icon-label">Products</span>
			</a>
		</div>
		<div class="ui-block-d">
			<a href="#"> <img src="resources/css/images/attach-icon-big.png">
				<span class="icon-label">Products</span>
			</a>
		</div>
	</div>
</div>
<!-- To position the footer at the bottom of the page use: data-position="fixed" -->
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar" data-theme="e">
		<ul>
			<li><a href="#" data-icon="arrow-l">Home</a></li>
			<li><a href="#" data-icon="back">Favorites</a></li>
			<li><a href="#" data-icon="star">Items</a></li>
			<li><a href="#" data-icon="plus">Details</a></li>
			<li><a href="#" data-icon="arrow-r">Settings</a></li>
		</ul>
	</div>
	<h3>2014</h3>
</div>

<style>
/* center icons */
.ui-grid-a {
	text-align: center;
}
/* set row height */
.ui-block-a,.ui-block-b {
	height: 100px;
	text-align: center;
}
/* set label color and size */
.icon-label {
	color: #000;
	display: block;
	font-size: 12px;
}

a:link,a:visited,a:hover,a:active {
	text-decoration: none;
}
</style>
