
<div class="container-fluid form-container">
	<form id="entity-view-form">
		<fieldset>
			 <div class="shortcuts">
                        <% _.each(activityResponseData.dataList, function (activity) {%>  
                            <a href="#<%= activity.dataValues.activityUrl.fieldValue %>" class="shortcut">
                               <i class="shortcut-icon icon-user"></i>
                                <span class="shortcut-label"><%= activity.dataValues.displayNm.fieldValue  %></span>
                            </a>                    
        				<% }); %>  
        	</div>

		</fieldset>
	</form>
</div>
<!-- /form container -->

