<div id="sidebar-widget" class="widget widget-table">
	<div class="widget-header">
		<span class="icon-list-alt"></span>
		<h3 id="widget-title"></h3>
	</div>
	<!-- .widget-header -->
	<div id="mainmenu-container" class="widget-content scrollable-sidebar-content">
		<div id="basic-accordion" class="accordion"></div>
	</div>
	<!-- .widget-content -->
	<div id="submenu-container" class="widget-content scrollable-sidebar-content">
		<table id="submenu-table" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th id="submenu-title"></th>
				</tr>
			</thead>
			<tbody id="related-activities-container"></tbody>
		</table>
	</div>
	<!-- .widget-content -->
</div>
<!-- /widget -->
