<script type="text/javascript">
$(document).ready(new function() 
{
	$('#tab-widget').tabs({
		activityQuery: {
			//entityQuery: {'id':1, 'id_options':'='},
			//processQuery: {'processId':1, 'processId_options':'='},
			//activityURL: 'view_product_product',
		}
	});

});	
	
</script>
<div id="tab-widget" class="widget widget-table action-table">
    <div class="widget-header">
        <i class="icon-th-list"></i>
        <h3 id="widget-title"></h3>
    </div> <!-- /widget-header -->
    
    <div class="widget-content scrollable-main-content">
    	 <!-- tab-container -->
        <div id="tab-container">
        	<ul id="tabs">
			  
			</ul>
        </div>
    	 <!-- tab-content -->
        <div id="tab-content"> 
	        
        </div>
    </div> <!-- /widget-content -->
</div> <!-- /widget -->

<div id="entity-search-dialog-div"></div>
