<script type="text/javascript">
	$(document).ready(new function() 
	{
		$('#mainnav').toolbarwidget({data:[
		      {name:'test-menu', icon:'icon-bar-chart', description:'Tester', class:'active test', href:'list_product_product'},
		      {name:'test-menu', icon:'icon-bar-chart', description:'Tester', class:'active test', href:'view_product_container'},
		      {name:'test-menu', icon:'icon-bar-chart', description:'Tester', class:'active test', href:'edit_product_productobsolescence'},
		      ]});
	});
</script>
<div id="<%= uiComponentData.name %>" class="toolBarWidget">
	<div class="subnavbar">
		<div class="subnavbar-inner">
			<div class="container">
				<ul id="mainnav" class="mainnav">
					<li id="subnav-home-menuitem" class="active">
						<a href="#about"> 
							<i class="icon-home"></i>
							<span>Home</span>
						</a>
					</li> 
					<li id="subnav-dropdown-menu" class="active dropdown">
						<a id="subnav-dropdown-menu-link" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-share-alt"></i> 
							<span>More Items</span> 
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="divider subnavbar-open-right"></li>
							<li id="logout-subnav-dropdown-menuitem"><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /container -->
		</div>
		<!-- /subnavbar-inner -->
	</div>
	<!-- /subnavbar -->
</div>