<script type="text/javascript">
$(document).ready(new function() 
{
	console.log('Creating view plugin')
	$('#view-activity-container').viewactivity({
		businessObjectName: '<%= activityResponseData.businessObjectName %>',
		activityURL: '<%= activityResponseData.activityData.dataValues.activityUrl%>'
	});

});	
</script>
<div id="view-activity-container">
	<div class="container-fluid form-container">
            <form id="entity-view-form">
			    <fieldset>
			    	<!--  <legend></legend>
                        Loop over field blocks in form -->
                        <br>
                        <% _.each(form.fieldBlocks, function (fieldBlock) { %>
                        <div class="row-fluid fieldblock">
                        <!-- Loop over fields in field block -->
                        <% _.each(fieldBlock.fields, function (field) { %>
                            <!-- Code field -->
                            <% if  (field.fieldData.fieldDataType == "ID") { %>
                            <!-- <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldName %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>">
                            </div>  -->
                            <% } else if  (field.fieldData.fieldDataType == "CODE") { %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-medium  <%= field.fieldCSSClassName %>">
                            </div> 
                            <!-- Name field -->
                            <% } else if (field.fieldData.fieldDataType == "NAME") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-medium <%= field.fieldCSSClassName %>"> 
                            </div>  
                            <% } else if (field.fieldData.fieldDataType == "TEXT") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-large <%= field.fieldCSSClassName %>">
                            </div> 
                            <% } else if (field.fieldData.fieldDataType == "STATUS") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <select id="<%= field.fieldData.fieldName %>" name="<%= field.fieldData.fieldName %>" class="<%= field.fieldCSSClassName %>">
                                    <option value="A">Active</option>
                                    <option value="I">Inactive</option>
                                </select>
                            </div>   
                            <% } else if (field.fieldData.fieldDataType == "CHAR") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-small <%= field.fieldCSSClassName %>">
                            </div>    
                            <% } else if (field.fieldData.fieldDataType == "NUMBER") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-small <%= field.fieldCSSClassName %>">
                            </div>  
                            <% } else if (field.fieldData.fieldDataType == "CURRENCY") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-medium <%= field.fieldCSSClassName %>">
                            </div>       
                            <% } else if (field.fieldData.fieldDataType == "DECIMAL") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-medium <%= field.fieldCSSClassName %>">
                            </div>   
                            <% } else if (field.fieldData.fieldDataType == "BOOLEAN") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <input type="text" id="<%= field.fieldData.fieldName %>" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" name="<%= field.fieldData.fieldName %>" placeholder="<%= field.fieldData.fieldName %>" class="input-small <%= field.fieldCSSClassName %>">
                            </div>    
                            <% } else if (field.fieldData.fieldDataType == "DATE") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <div class="input-append date form_date" data-date-format="dd-mm-yyyy">
                                    <input id="<%= field.fieldData.fieldName %>"  name="<%= field.fieldData.fieldName %>" size="16" type="text" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" readonly class="input-small  <%= field.fieldCSSClassName %>">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <% } else if (field.fieldData.fieldDataType == "DATETIME") {  %>
                            <div class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <div class="input-append date form_datetime" >
                                    <input size="16" type="text" value="<%= field.fieldData.fieldValue ? field.fieldData.fieldValue : '' %>" readonly class="input-medium <%= field.fieldCSSClassName %>">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <% } else if (field.fieldData.fieldDataType == "RELATIONSHIP") {  %>
                            <div id="<%= field.fieldData.fieldName %>SelectContainerDiv" class="span6">
                                <label for="<%= field.fieldData.fieldName %>"><%= field.fieldData.fieldDescription %></label>
                                <select name="<%=field.fieldData.fieldName%>" id="<%=field.fieldData.fieldName%>" class="<%= field.fieldCSSClassName %>">
                                    <option value=""><%= field.fieldData.fieldText ? field.fieldData.fieldText : '' %></option>
                                </select>
                                <a class="lookup-field" href="<%= field.fieldData.fieldName %>">Change</a>
                            </div>
                            <% } %>
                        <% }); %> <!-- End row for each -->  
                        </div> 
                        <% }); %>   <!-- End field block for each -->
					<div class="form-actions">
						<a id="view-edit-btn" class="btn btn-primary">Edit</a>
						<a id="view-done-btn" class="btn" href="#">Done</a>
					</div>

				</fieldset>
		    </form>
	    </div> <!-- /form container -->
</div>