
<div class="widget widget-table">
	<div class="widget-header">
		<span class="icon-list-alt"></span>
		<h3>Personal Items</h3>
	</div>
	<!-- .widget-header -->
	<div class="widget-content scrollable-sidebar-content">
		<div class="accordion" id="basic-accordion">
			<% _.each(modules, function (module) {%>
			<div class="accordion-group <%=	module.itemClass %>">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse"
						data-parent="#basic-accordion" href="#<%= module.URL %>"> 
						<%=	module.description %> 
					</a>
				</div>
				<div id="<%= module.URL %>" class="accordion-body in collapse">
					<table class="table table-bordered table-striped">
						<thead></thead>
						<tbody>
							<% _.each(module.children, function (activity) {%>
							<tr>
								<td class="description">
									<a	href="#<%= activity.URL %>"> 
										<%=	activity.description %> 
									</a>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
	<!-- .widget-content -->
	<div class="widget-content scrollable-sidebar-content">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Related Activities</th>
				</tr>
			</thead>
			<tbody id="related-activities-container">
			</tbody>
		</table>
	</div>
	<!-- .widget-content -->
</div>
<!-- /widget -->
